<mat-card-content *ngIf="sessionStarted">
<input  multiple [hidden]="true" type="file" class="file-input"
       (change)="onFileSelected($event)" #filePicker>

<div class="file-picker">
  <div>
  <h2>{{fileName  ? loading ?  "Files are processed by the model" : "Upload more files" : "No file uploaded yet."  }}
    <button mat-mini-fab color="primary" class="upload-btn" (click)="filePicker.click()">
    <mat-icon>attach_file</mat-icon>
  </button></h2>
    <div *ngIf="loading" class="progress">
      <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
    </div>
  </div>
</div>
<div *ngFor="let img of this.images">
  <h2><b>{{this.numberOfApples[this.images.indexOf(img)] == 1 ? "1 apple detected" : this.numberOfApples[this.images.indexOf(img)] + " apples detected"}}</b></h2>
  <br>
  <img mat-card-image [src]="img" alt="smth bad">
</div>
</mat-card-content>
<mat-card-content *ngIf="!sessionStarted" class="buttons">
  <form class="session-form" (ngSubmit)="startSession(form)" #form="ngForm">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Session name</mat-label>
      <input
        required
        id="name"
        name="name"
        ngModel
        matInput placeholder="Ex. 2020 harvest"
        #Name="ngModel">
    </mat-form-field>
    <button mat-raised-button="right"> Start Session</button>
  </form>
</mat-card-content>
