img{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 50%;
  height: 50%;

}
.file-picker{
  margin-top: 10vh;
  margin-left: 40vw;
  .progress{
    position: absolute;
    width: 20%;
  }
}

.buttons{
  margin-left: 40vh;
  text-align: center;
  align-items: center;
}

.session-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  font-size: 28px;
  margin: auto;
}
.full-width{
  width: 100%;
}
.input{
}
.mat-raised-button{
  height: 65px;
  width: 170px;
  font-size: 20px;
}
